<a href="https://colab.research.google.com/github/tejasbharadwaj225/PySpark/blob/main/Adanced%20Transformation%20PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from pyspark.sql import SparkSession

In [3]:
# Spark Session
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .appName("Spark Introduction")
    .master("local[*]")
    .getOrCreate()
)

In [4]:
spark

In [5]:
# Emp Data & Schema

emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","Female","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [6]:
# Create emp DataFrame

emp = spark.createDataFrame(data=emp_data, schema=emp_schema)

In [7]:
emp

DataFrame[employee_id: string, department_id: string, name: string, age: string, gender: string, salary: string, hire_date: string]

In [8]:
# Check number of partitions

emp.rdd.getNumPartitions()

2

In [9]:
# Show data (ACTION)

emp.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [10]:
# Write our first Transformation (EMP salary > 50000)

emp_final = emp.where("salary > 50000")

In [11]:
# Validate number of Partitions

emp_final.rdd.getNumPartitions()

2

In [12]:
# Write data as CSV output (ACTION)

emp_final.write.format("csv").save("data/output/1/emp.csv")

In [13]:
emp_final.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [14]:
# Schema for emp

emp.schema

StructType([StructField('employee_id', StringType(), True), StructField('department_id', StringType(), True), StructField('name', StringType(), True), StructField('age', StringType(), True), StructField('gender', StringType(), True), StructField('salary', StringType(), True), StructField('hire_date', StringType(), True)])

In [15]:
# Small Example for Schema
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
schema_string = "name string, age int"

schema_spark =  StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True)
])

In [16]:
# Columns and expression
from pyspark.sql.functions import col, expr

emp["salary"]

Column<'salary'>

In [17]:
# SELECT columns
# select employee_id, name, age, salary from emp

emp_filtered = emp.select(col("employee_id"), expr("name"), emp.age, emp.salary)

In [18]:
# SHOW Dataframe (ACTION)

emp_filtered.show()

+-----------+-------------+---+------+
|employee_id|         name|age|salary|
+-----------+-------------+---+------+
|        001|     John Doe| 30| 50000|
|        002|   Jane Smith| 25| 45000|
|        003|    Bob Brown| 35| 55000|
|        004|    Alice Lee| 28| 48000|
|        005|    Jack Chan| 40| 60000|
|        006|    Jill Wong| 32| 52000|
|        007|James Johnson| 42| 70000|
|        008|     Kate Kim| 29| 51000|
|        009|      Tom Tan| 33| 58000|
|        010|     Lisa Lee| 27| 47000|
|        011|   David Park| 38| 65000|
|        012|   Susan Chen| 31| 54000|
|        013|    Brian Kim| 45| 75000|
|        014|    Emily Lee| 26| 46000|
|        015|  Michael Lee| 37| 63000|
|        016|  Kelly Zhang| 30| 49000|
|        017|  George Wang| 34| 57000|
|        018|    Nancy Liu| 29| 50000|
|        019|  Steven Chen| 36| 62000|
|        020|    Grace Kim| 32| 53000|
+-----------+-------------+---+------+

In [19]:
# Using expr for select
# select employee_id as emp_id, name, cast(age as int) as age, salary from emp_filtered

emp_casted = emp_filtered.select(expr("employee_id as emp_id"), emp.name, expr("cast(age as int) as age"), emp.salary)

In [20]:
# SHOW Dataframe (ACTION)

emp_casted.show()

+------+-------------+---+------+
|emp_id|         name|age|salary|
+------+-------------+---+------+
|   001|     John Doe| 30| 50000|
|   002|   Jane Smith| 25| 45000|
|   003|    Bob Brown| 35| 55000|
|   004|    Alice Lee| 28| 48000|
|   005|    Jack Chan| 40| 60000|
|   006|    Jill Wong| 32| 52000|
|   007|James Johnson| 42| 70000|
|   008|     Kate Kim| 29| 51000|
|   009|      Tom Tan| 33| 58000|
|   010|     Lisa Lee| 27| 47000|
|   011|   David Park| 38| 65000|
|   012|   Susan Chen| 31| 54000|
|   013|    Brian Kim| 45| 75000|
|   014|    Emily Lee| 26| 46000|
|   015|  Michael Lee| 37| 63000|
|   016|  Kelly Zhang| 30| 49000|
|   017|  George Wang| 34| 57000|
|   018|    Nancy Liu| 29| 50000|
|   019|  Steven Chen| 36| 62000|
|   020|    Grace Kim| 32| 53000|
+------+-------------+---+------+

In [21]:
emp_casted_1 = emp_filtered.selectExpr("employee_id as emp_id", "name", "cast(age as int) as age", "salary")

In [22]:
emp_casted_1.show()

+------+-------------+---+------+
|emp_id|         name|age|salary|
+------+-------------+---+------+
|   001|     John Doe| 30| 50000|
|   002|   Jane Smith| 25| 45000|
|   003|    Bob Brown| 35| 55000|
|   004|    Alice Lee| 28| 48000|
|   005|    Jack Chan| 40| 60000|
|   006|    Jill Wong| 32| 52000|
|   007|James Johnson| 42| 70000|
|   008|     Kate Kim| 29| 51000|
|   009|      Tom Tan| 33| 58000|
|   010|     Lisa Lee| 27| 47000|
|   011|   David Park| 38| 65000|
|   012|   Susan Chen| 31| 54000|
|   013|    Brian Kim| 45| 75000|
|   014|    Emily Lee| 26| 46000|
|   015|  Michael Lee| 37| 63000|
|   016|  Kelly Zhang| 30| 49000|
|   017|  George Wang| 34| 57000|
|   018|    Nancy Liu| 29| 50000|
|   019|  Steven Chen| 36| 62000|
|   020|    Grace Kim| 32| 53000|
+------+-------------+---+------+

In [23]:
emp_casted.printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: string (nullable = true)

In [24]:
# Filter emp based on Age > 30
# select emp_id, name, age, salary from emp_casted where age > 30

emp_final = emp_casted.select("emp_id", "name", "age", "salary").where("age > 30")

In [25]:
# SHOW Dataframe (ACTION)

emp_final.show()

+------+-------------+---+------+
|emp_id|         name|age|salary|
+------+-------------+---+------+
|   003|    Bob Brown| 35| 55000|
|   005|    Jack Chan| 40| 60000|
|   006|    Jill Wong| 32| 52000|
|   007|James Johnson| 42| 70000|
|   009|      Tom Tan| 33| 58000|
|   011|   David Park| 38| 65000|
|   012|   Susan Chen| 31| 54000|
|   013|    Brian Kim| 45| 75000|
|   015|  Michael Lee| 37| 63000|
|   017|  George Wang| 34| 57000|
|   019|  Steven Chen| 36| 62000|
|   020|    Grace Kim| 32| 53000|
+------+-------------+---+------+

In [26]:
# Write the data back as CSV (ACTION)

emp_final.write.format("csv").save("data/output/2/emp.csv")

In [27]:
# Bonus TIP

schema_str = "name string, age int"

from pyspark.sql.types import _parse_datatype_string

schema_spark = _parse_datatype_string(schema_str)

schema_spark

StructType([StructField('name', StringType(), True), StructField('age', IntegerType(), True)])

In [28]:
# Adding Columns
# select employee_id, name, age, salary, (salary * 0.2) as tax from emp_casted

emp_taxed = emp_casted.withColumn("tax", col("salary") * 0.2)

In [29]:
emp_taxed.show()

+------+-------------+---+------+-------+
|emp_id|         name|age|salary|    tax|
+------+-------------+---+------+-------+
|   001|     John Doe| 30| 50000|10000.0|
|   002|   Jane Smith| 25| 45000| 9000.0|
|   003|    Bob Brown| 35| 55000|11000.0|
|   004|    Alice Lee| 28| 48000| 9600.0|
|   005|    Jack Chan| 40| 60000|12000.0|
|   006|    Jill Wong| 32| 52000|10400.0|
|   007|James Johnson| 42| 70000|14000.0|
|   008|     Kate Kim| 29| 51000|10200.0|
|   009|      Tom Tan| 33| 58000|11600.0|
|   010|     Lisa Lee| 27| 47000| 9400.0|
|   011|   David Park| 38| 65000|13000.0|
|   012|   Susan Chen| 31| 54000|10800.0|
|   013|    Brian Kim| 45| 75000|15000.0|
|   014|    Emily Lee| 26| 46000| 9200.0|
|   015|  Michael Lee| 37| 63000|12600.0|
|   016|  Kelly Zhang| 30| 49000| 9800.0|
|   017|  George Wang| 34| 57000|11400.0|
|   018|    Nancy Liu| 29| 50000|10000.0|
|   019|  Steven Chen| 36| 62000|12400.0|
|   020|    Grace Kim| 32| 53000|10600.0|
+------+-------------+---+------+-------+

In [30]:

# Literals
# select employee_id, name, age, salary, tax, 1 as columnOne, 'two' as columnTwo from emp_taxed
from pyspark.sql.functions import lit

emp_new_cols = emp_taxed.withColumn("columnOne", lit(1)).withColumn("columnTwo", lit('two'))

In [31]:
emp_new_cols.show()

+------+-------------+---+------+-------+---------+---------+
|emp_id|         name|age|salary|    tax|columnOne|columnTwo|
+------+-------------+---+------+-------+---------+---------+
|   001|     John Doe| 30| 50000|10000.0|        1|      two|
|   002|   Jane Smith| 25| 45000| 9000.0|        1|      two|
|   003|    Bob Brown| 35| 55000|11000.0|        1|      two|
|   004|    Alice Lee| 28| 48000| 9600.0|        1|      two|
|   005|    Jack Chan| 40| 60000|12000.0|        1|      two|
|   006|    Jill Wong| 32| 52000|10400.0|        1|      two|
|   007|James Johnson| 42| 70000|14000.0|        1|      two|
|   008|     Kate Kim| 29| 51000|10200.0|        1|      two|
|   009|      Tom Tan| 33| 58000|11600.0|        1|      two|
|   010|     Lisa Lee| 27| 47000| 9400.0|        1|      two|
|   011|   David Park| 38| 65000|13000.0|        1|      two|
|   012|   Susan Chen| 31| 54000|10800.0|        1|      two|
|   013|    Brian Kim| 45| 75000|15000.0|        1|      two|
|   014|    Emily Lee| 26| 46000| 9200.0|        1|      two|
|   015|  Michael Lee| 37| 63000|12600.0|        1|      two|
|   016|  Kelly Zhang| 30| 49000| 9800.0|        1|      two|
|   017|  George Wang| 34| 57000|11400.0|        1|      two|
|   018|    Nancy Liu| 29| 50000|10000.0|        1|      two|
|   019|  Steven Chen| 36| 62000|12400.0|        1|      two|
|   020|    Grace Kim| 32| 53000|10600.0|        1|      two|
+------+-------------+---+------+-------+---------+---------+

In [32]:
# Renaming Columns
# select employee_id as emp_id, name, age, salary, tax, columnOne, columnTwo from emp_new_cols

emp_1 = emp_new_cols.withColumnRenamed("employee_id", "emp_id")

In [33]:
# Column names with Spaces
# select employee_id as emp_id, name, age, salary, tax, columnOne, columnTwo as `Column Two` from emp_new_cols

emp_2 = emp_new_cols.withColumnRenamed("columnTwo", "Column Two")

In [34]:

emp_2.show()

+------+-------------+---+------+-------+---------+----------+
|emp_id|         name|age|salary|    tax|columnOne|Column Two|
+------+-------------+---+------+-------+---------+----------+
|   001|     John Doe| 30| 50000|10000.0|        1|       two|
|   002|   Jane Smith| 25| 45000| 9000.0|        1|       two|
|   003|    Bob Brown| 35| 55000|11000.0|        1|       two|
|   004|    Alice Lee| 28| 48000| 9600.0|        1|       two|
|   005|    Jack Chan| 40| 60000|12000.0|        1|       two|
|   006|    Jill Wong| 32| 52000|10400.0|        1|       two|
|   007|James Johnson| 42| 70000|14000.0|        1|       two|
|   008|     Kate Kim| 29| 51000|10200.0|        1|       two|
|   009|      Tom Tan| 33| 58000|11600.0|        1|       two|
|   010|     Lisa Lee| 27| 47000| 9400.0|        1|       two|
|   011|   David Park| 38| 65000|13000.0|        1|       two|
|   012|   Susan Chen| 31| 54000|10800.0|        1|       two|
|   013|    Brian Kim| 45| 75000|15000.0|        1|       two|
|   014|    Emily Lee| 26| 46000| 9200.0|        1|       two|
|   015|  Michael Lee| 37| 63000|12600.0|        1|       two|
|   016|  Kelly Zhang| 30| 49000| 9800.0|        1|       two|
|   017|  George Wang| 34| 57000|11400.0|        1|       two|
|   018|    Nancy Liu| 29| 50000|10000.0|        1|       two|
|   019|  Steven Chen| 36| 62000|12400.0|        1|       two|
|   020|    Grace Kim| 32| 53000|10600.0|        1|       two|
+------+-------------+---+------+-------+---------+----------+

In [35]:
# Remove Column

emp_dropped = emp_new_cols.drop("columnTwo", "columnOne")

In [36]:
# Filter data
# select employee_id as emp_id, name, age, salary, tax, columnOne from emp_col_dropped where tax > 1000

emp_filtered = emp_dropped.where("tax > 10000")

In [37]:
emp_filtered.show()

+------+-------------+---+------+-------+
|emp_id|         name|age|salary|    tax|
+------+-------------+---+------+-------+
|   003|    Bob Brown| 35| 55000|11000.0|
|   005|    Jack Chan| 40| 60000|12000.0|
|   006|    Jill Wong| 32| 52000|10400.0|
|   007|James Johnson| 42| 70000|14000.0|
|   008|     Kate Kim| 29| 51000|10200.0|
|   009|      Tom Tan| 33| 58000|11600.0|
|   011|   David Park| 38| 65000|13000.0|
|   012|   Susan Chen| 31| 54000|10800.0|
|   013|    Brian Kim| 45| 75000|15000.0|
|   015|  Michael Lee| 37| 63000|12600.0|
|   017|  George Wang| 34| 57000|11400.0|
|   019|  Steven Chen| 36| 62000|12400.0|
|   020|    Grace Kim| 32| 53000|10600.0|
+------+-------------+---+------+-------+

In [38]:
# LIMIT data
# select employee_id as emp_id, name, age, salary, tax, columnOne from emp_filtered limit 5

emp_limit = emp_filtered.limit(5)

In [39]:
# Show data

emp_limit.show(2)

+------+---------+---+------+-------+
|emp_id|     name|age|salary|    tax|
+------+---------+---+------+-------+
|   003|Bob Brown| 35| 55000|11000.0|
|   005|Jack Chan| 40| 60000|12000.0|
+------+---------+---+------+-------+
only showing top 2 rows

In [40]:
# Add multiple columns

columns = {
    "tax" : col("salary") * 0.2 ,
    "oneNumber" : lit(1),
    "columnTwo" : lit("two")
}

emp_final = emp.withColumns(columns)

In [41]:
emp_final.show()

+-----------+-------------+-------------+---+------+------+----------+-------+---------+---------+
|employee_id|department_id|         name|age|gender|salary| hire_date|    tax|oneNumber|columnTwo|
+-----------+-------------+-------------+---+------+------+----------+-------+---------+---------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|10000.0|        1|      two|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15| 9000.0|        1|      two|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|11000.0|        1|      two|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30| 9600.0|        1|      two|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|12000.0|        1|      two|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|10400.0|        1|      two|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|14000.0|        1|      two|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|10200.0|        1|      two|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|11600.0|        1|      two|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01| 9400.0|        1|      two|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|13000.0|        1|      two|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|10800.0|        1|      two|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|15000.0|        1|      two|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01| 9200.0|        1|      two|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|12600.0|        1|      two|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01| 9800.0|        1|      two|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|11400.0|        1|      two|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|10000.0|        1|      two|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|12400.0|        1|      two|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|10600.0|        1|      two|
+-----------+-------------+-------------+---+------+------+----------+-------+---------+---------+

In [42]:
# Case When
# select employee_id, name, age, salary, gender,
# case when gender = 'Male' then 'M' when gender = 'Female' then 'F' else null end as new_gender, hire_date from emp
from pyspark.sql.functions import when, col, expr

emp_gender_fixed = emp.withColumn("new_gender", when(col("gender") == 'Male', 'M')
                                 .when(col("gender") == 'Female', 'F')
                                 .otherwise(None)
                                 )

emp_gender_fixed_1 = emp.withColumn("new_gender", expr("case when gender = 'Male' then 'M' when gender = 'Female' then 'F' else null end"))

In [43]:
emp_gender_fixed_1.show()

+-----------+-------------+-------------+---+------+------+----------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|
+-----------+-------------+-------------+---+------+------+----------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|         F|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|
+-----------+-------------+-------------+---+------+------+----------+----------+

In [44]:
# Replace in Strings
# select employee_id, name, replace(name, 'J', 'Z') as new_name, age, salary, gender, new_gender, hire_date from emp_gender_fixed
from pyspark.sql.functions import regexp_replace

emp_name_fixed = emp_gender_fixed.withColumn("new_name", regexp_replace(col("name"), "J", "Z"))

In [45]:
emp_name_fixed.show()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     Zohn Doe|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   Zane Smith|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    Zack Chan|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    Zill Wong|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|Zames Zohnson|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|         F|    Nancy Liu|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+

In [46]:
# Convert Date
# select *,  to_date(hire_date, 'YYYY-MM-DD') as hire_date from emp_name_fixed
from pyspark.sql.functions import to_date

emp_date_fix = emp_name_fixed.withColumn("hire_date", to_date(col("hire_date"), 'yyyy-MM-dd'))

In [47]:
emp_date_fix.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: date (nullable = true)
 |-- new_gender: string (nullable = true)
 |-- new_name: string (nullable = true)

In [48]:
# Add Date Columns
# Add current_date, current_timestamp, extract year from hire_date
from pyspark.sql.functions import current_date, current_timestamp

emp_dated = emp_date_fix.withColumn("date_now", current_date()).withColumn("timestamp_now", current_timestamp())

In [49]:
emp_dated.show(truncate=False)

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------------+
|employee_id|department_id|name         |age|gender|salary|hire_date |new_gender|new_name     |date_now  |timestamp_now             |
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------------+
|001        |101          |John Doe     |30 |Male  |50000 |2015-01-01|M         |Zohn Doe     |2026-02-03|2026-02-03 08:46:12.841288|
|002        |101          |Jane Smith   |25 |Female|45000 |2016-02-15|F         |Zane Smith   |2026-02-03|2026-02-03 08:46:12.841288|
|003        |102          |Bob Brown    |35 |Male  |55000 |2014-05-01|M         |Bob Brown    |2026-02-03|2026-02-03 08:46:12.841288|
|004        |102          |Alice Lee    |28 |Female|48000 |2017-09-30|F         |Alice Lee    |2026-02-03|2026-02-03 08:46:12.841288|
|005        |103          |Jack Chan    |40 |Male  |60000 |2013-04-01|M         |Zack Chan    |2026-02-03|2026-02-03 08:46:12.841288|
|006        |103          |Jill Wong    |32 |Female|52000 |2018-07-01|F         |Zill Wong    |2026-02-03|2026-02-03 08:46:12.841288|
|007        |101          |James Johnson|42 |Male  |70000 |2012-03-15|M         |Zames Zohnson|2026-02-03|2026-02-03 08:46:12.841288|
|008        |102          |Kate Kim     |29 |Female|51000 |2019-10-01|F         |Kate Kim     |2026-02-03|2026-02-03 08:46:12.841288|
|009        |103          |Tom Tan      |33 |Male  |58000 |2016-06-01|M         |Tom Tan      |2026-02-03|2026-02-03 08:46:12.841288|
|010        |104          |Lisa Lee     |27 |Female|47000 |2018-08-01|F         |Lisa Lee     |2026-02-03|2026-02-03 08:46:12.841288|
|011        |104          |David Park   |38 |Male  |65000 |2015-11-01|M         |David Park   |2026-02-03|2026-02-03 08:46:12.841288|
|012        |105          |Susan Chen   |31 |Female|54000 |2017-02-15|F         |Susan Chen   |2026-02-03|2026-02-03 08:46:12.841288|
|013        |106          |Brian Kim    |45 |Male  |75000 |2011-07-01|M         |Brian Kim    |2026-02-03|2026-02-03 08:46:12.841288|
|014        |107          |Emily Lee    |26 |Female|46000 |2019-01-01|F         |Emily Lee    |2026-02-03|2026-02-03 08:46:12.841288|
|015        |106          |Michael Lee  |37 |Male  |63000 |2014-09-30|M         |Michael Lee  |2026-02-03|2026-02-03 08:46:12.841288|
|016        |107          |Kelly Zhang  |30 |Female|49000 |2018-04-01|F         |Kelly Zhang  |2026-02-03|2026-02-03 08:46:12.841288|
|017        |105          |George Wang  |34 |Male  |57000 |2016-03-15|M         |George Wang  |2026-02-03|2026-02-03 08:46:12.841288|
|018        |104          |Nancy Liu    |29 |Female|50000 |2017-06-01|F         |Nancy Liu    |2026-02-03|2026-02-03 08:46:12.841288|
|019        |103          |Steven Chen  |36 |Male  |62000 |2015-08-01|M         |Steven Chen  |2026-02-03|2026-02-03 08:46:12.841288|
|020        |102          |Grace Kim    |32 |Female|53000 |2018-11-01|F         |Grace Kim    |2026-02-03|2026-02-03 08:46:12.841288|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------------+

In [50]:
# Drop Null gender records
emp_1 = emp_dated.na.drop()

In [51]:
emp_1.show()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|  date_now|       timestamp_now|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     Zohn Doe|2026-02-03|2026-02-03 08:46:...|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   Zane Smith|2026-02-03|2026-02-03 08:46:...|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|2026-02-03|2026-02-03 08:46:...|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|2026-02-03|2026-02-03 08:46:...|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    Zack Chan|2026-02-03|2026-02-03 08:46:...|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    Zill Wong|2026-02-03|2026-02-03 08:46:...|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|Zames Zohnson|2026-02-03|2026-02-03 08:46:...|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|2026-02-03|2026-02-03 08:46:...|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|2026-02-03|2026-02-03 08:46:...|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|2026-02-03|2026-02-03 08:46:...|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|2026-02-03|2026-02-03 08:46:...|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|2026-02-03|2026-02-03 08:46:...|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|2026-02-03|2026-02-03 08:46:...|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|2026-02-03|2026-02-03 08:46:...|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|2026-02-03|2026-02-03 08:46:...|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|2026-02-03|2026-02-03 08:46:...|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|2026-02-03|2026-02-03 08:46:...|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|         F|    Nancy Liu|2026-02-03|2026-02-03 08:46:...|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|2026-02-03|2026-02-03 08:46:...|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|2026-02-03|2026-02-03 08:46:...|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+

In [52]:
# Fix Null values
# select *, nvl('new_gender', 'O') as new_gender from emp_dated
from pyspark.sql.functions import coalesce, lit

emp_null_df = emp_dated.withColumn("new_gender", coalesce(col("new_gender"), lit("O")))

In [53]:
emp_null_df.show()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|  date_now|       timestamp_now|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     Zohn Doe|2026-02-03|2026-02-03 08:47:...|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   Zane Smith|2026-02-03|2026-02-03 08:47:...|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|2026-02-03|2026-02-03 08:47:...|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|2026-02-03|2026-02-03 08:47:...|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    Zack Chan|2026-02-03|2026-02-03 08:47:...|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    Zill Wong|2026-02-03|2026-02-03 08:47:...|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|Zames Zohnson|2026-02-03|2026-02-03 08:47:...|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|2026-02-03|2026-02-03 08:47:...|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|2026-02-03|2026-02-03 08:47:...|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|2026-02-03|2026-02-03 08:47:...|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|2026-02-03|2026-02-03 08:47:...|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|2026-02-03|2026-02-03 08:47:...|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|2026-02-03|2026-02-03 08:47:...|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|2026-02-03|2026-02-03 08:47:...|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|2026-02-03|2026-02-03 08:47:...|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|2026-02-03|2026-02-03 08:47:...|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|2026-02-03|2026-02-03 08:47:...|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|         F|    Nancy Liu|2026-02-03|2026-02-03 08:47:...|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|2026-02-03|2026-02-03 08:47:...|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|2026-02-03|2026-02-03 08:47:...|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+

In [55]:
# Drop old columns and Fix new column names
emp_final = emp_null_df.drop("name", "gender").withColumnRenamed("new_name", "name").withColumnRenamed("new_gender", "gender")

In [56]:
emp_final.show()

+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+
|employee_id|department_id|age|salary| hire_date|gender|         name|  date_now|       timestamp_now|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+
|        001|          101| 30| 50000|2015-01-01|     M|     Zohn Doe|2026-02-03|2026-02-03 08:48:...|
|        002|          101| 25| 45000|2016-02-15|     F|   Zane Smith|2026-02-03|2026-02-03 08:48:...|
|        003|          102| 35| 55000|2014-05-01|     M|    Bob Brown|2026-02-03|2026-02-03 08:48:...|
|        004|          102| 28| 48000|2017-09-30|     F|    Alice Lee|2026-02-03|2026-02-03 08:48:...|
|        005|          103| 40| 60000|2013-04-01|     M|    Zack Chan|2026-02-03|2026-02-03 08:48:...|
|        006|          103| 32| 52000|2018-07-01|     F|    Zill Wong|2026-02-03|2026-02-03 08:48:...|
|        007|          101| 42| 70000|2012-03-15|     M|Zames Zohnson|2026-02-03|2026-02-03 08:48:...|
|        008|          102| 29| 51000|2019-10-01|     F|     Kate Kim|2026-02-03|2026-02-03 08:48:...|
|        009|          103| 33| 58000|2016-06-01|     M|      Tom Tan|2026-02-03|2026-02-03 08:48:...|
|        010|          104| 27| 47000|2018-08-01|     F|     Lisa Lee|2026-02-03|2026-02-03 08:48:...|
|        011|          104| 38| 65000|2015-11-01|     M|   David Park|2026-02-03|2026-02-03 08:48:...|
|        012|          105| 31| 54000|2017-02-15|     F|   Susan Chen|2026-02-03|2026-02-03 08:48:...|
|        013|          106| 45| 75000|2011-07-01|     M|    Brian Kim|2026-02-03|2026-02-03 08:48:...|
|        014|          107| 26| 46000|2019-01-01|     F|    Emily Lee|2026-02-03|2026-02-03 08:48:...|
|        015|          106| 37| 63000|2014-09-30|     M|  Michael Lee|2026-02-03|2026-02-03 08:48:...|
|        016|          107| 30| 49000|2018-04-01|     F|  Kelly Zhang|2026-02-03|2026-02-03 08:48:...|
|        017|          105| 34| 57000|2016-03-15|     M|  George Wang|2026-02-03|2026-02-03 08:48:...|
|        018|          104| 29| 50000|2017-06-01|     F|    Nancy Liu|2026-02-03|2026-02-03 08:48:...|
|        019|          103| 36| 62000|2015-08-01|     M|  Steven Chen|2026-02-03|2026-02-03 08:48:...|
|        020|          102| 32| 53000|2018-11-01|     F|    Grace Kim|2026-02-03|2026-02-03 08:48:...|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+

In [57]:
# Write data as CSV
emp_final.write.format("csv").save("data/output/4/emp.csv")

In [58]:
# Bonus TIP
# Convert date into String and extract date information
from pyspark.sql.functions import date_format

emp_fixed = emp_final.withColumn("date_year", date_format(col("timestamp_now"), "z"))

In [59]:
emp_fixed.show()

+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+---------+
|employee_id|department_id|age|salary| hire_date|gender|         name|  date_now|       timestamp_now|date_year|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+---------+
|        001|          101| 30| 50000|2015-01-01|     M|     Zohn Doe|2026-02-03|2026-02-03 08:48:...|      UTC|
|        002|          101| 25| 45000|2016-02-15|     F|   Zane Smith|2026-02-03|2026-02-03 08:48:...|      UTC|
|        003|          102| 35| 55000|2014-05-01|     M|    Bob Brown|2026-02-03|2026-02-03 08:48:...|      UTC|
|        004|          102| 28| 48000|2017-09-30|     F|    Alice Lee|2026-02-03|2026-02-03 08:48:...|      UTC|
|        005|          103| 40| 60000|2013-04-01|     M|    Zack Chan|2026-02-03|2026-02-03 08:48:...|      UTC|
|        006|          103| 32| 52000|2018-07-01|     F|    Zill Wong|2026-02-03|2026-02-03 08:48:...|      UTC|
|        007|          101| 42| 70000|2012-03-15|     M|Zames Zohnson|2026-02-03|2026-02-03 08:48:...|      UTC|
|        008|          102| 29| 51000|2019-10-01|     F|     Kate Kim|2026-02-03|2026-02-03 08:48:...|      UTC|
|        009|          103| 33| 58000|2016-06-01|     M|      Tom Tan|2026-02-03|2026-02-03 08:48:...|      UTC|
|        010|          104| 27| 47000|2018-08-01|     F|     Lisa Lee|2026-02-03|2026-02-03 08:48:...|      UTC|
|        011|          104| 38| 65000|2015-11-01|     M|   David Park|2026-02-03|2026-02-03 08:48:...|      UTC|
|        012|          105| 31| 54000|2017-02-15|     F|   Susan Chen|2026-02-03|2026-02-03 08:48:...|      UTC|
|        013|          106| 45| 75000|2011-07-01|     M|    Brian Kim|2026-02-03|2026-02-03 08:48:...|      UTC|
|        014|          107| 26| 46000|2019-01-01|     F|    Emily Lee|2026-02-03|2026-02-03 08:48:...|      UTC|
|        015|          106| 37| 63000|2014-09-30|     M|  Michael Lee|2026-02-03|2026-02-03 08:48:...|      UTC|
|        016|          107| 30| 49000|2018-04-01|     F|  Kelly Zhang|2026-02-03|2026-02-03 08:48:...|      UTC|
|        017|          105| 34| 57000|2016-03-15|     M|  George Wang|2026-02-03|2026-02-03 08:48:...|      UTC|
|        018|          104| 29| 50000|2017-06-01|     F|    Nancy Liu|2026-02-03|2026-02-03 08:48:...|      UTC|
|        019|          103| 36| 62000|2015-08-01|     M|  Steven Chen|2026-02-03|2026-02-03 08:48:...|      UTC|
|        020|          102| 32| 53000|2018-11-01|     F|    Grace Kim|2026-02-03|2026-02-03 08:48:...|      UTC|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+---------+